<div class="container">
  <h1>Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <li><%= restaurant.address%></li>
      <li><%= restaurant.phone_number %></li>
            <li><%= restaurant.category %></li>
      <br>
    <% end %>
  </ul>
  <%= link_to "Add new restaurant", new_restaurant_path %>
</div>
